<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="login">
        <h1>Titanic Survival Predictor</h1>
        <p>
            <button class="link-button" onclick="window.open('https://github.com/JustaKris/Titanic-ML-Kaggle', '_blank')">Project Repository</button> |
            <button class="link-button" onclick="window.open('https://github.com/JustaKris/Titanic-ML-Kaggle/blob/main/notebook/Titanic-Machine-Learning-from-Disaster.ipynb', '_blank')">Research Notebook</button>
        </p>
        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <legend>Enter required data below to generate survival prediction</legend>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input class="form-control" type="number" name="age" placeholder="Enter Age" min="0" max="100" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-control" name="gender" required onclick="removePlaceholderOption(this)">
                    <option class="placeholder" selected disabled value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Title</label>
                <select class="form-control" name="name_title" required>
                    <option class="placeholder" selected disabled value="">Select Title</option>
                    <option value="Mr">Mister</option>
                    <option value="Miss">Miss</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Master">Master</option>
                    <option value="Dr">Doctor</option>
                    <option value="Rev">Reverand</option>
                    <option value="Major">Major</option>
                    <option value="Col">Colonel</option>
                    <option value="The Countess">The Countess</option>
                    <option value="Ms">Ms</option>
                    <option value="Sir">Sir</option>
                    <option value="Lady">Lady</option>
                    <option value="Don">Don</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Traveling with siblings and/or spouses?</label>
                <select class="form-control" name="sibsp" required>
                    <option class="placeholder" selected disabled value="">Select Option</option>
                    <option value="0">None</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="5">6</option>
                    <option value="5">7</option>
                    <option value="5">8</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Ticket Class</label>
                <select class="form-control" name="pclass" required>
                    <option class="placeholder" selected disabled value="">Select Ticket Class</option>
                    <option value="1">1st</option>
                    <option value="2">2nd</option>
                    <option value="3">3rd</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Embarked From</label>
                <select class="form-control" name="embarked" required>
                    <option class="placeholder" selected disabled value="">Enter Port Name</option>
                    <option value="C">Cherbourg</option>
                    <option value="Q">Queenstown</option>
                    <option value="S">Southampton</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Cabin Size</label>
                <select class="form-control" name="cabin_multiple" required>
                    <option class="placeholder" selected disabled value="">Enter Cabin Size</option>
                    <option value="0">Single</option>
                    <option value="1">Double</option>
                    <option value="2">Three Person</option>
                    <option value="3">Four Person</option>
                </select>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict Survival Rate" />
            </div>
        </form>
        <h2>{{ results }}</h2>
    </div>
</body>
</html>
